/* Video */
.video-container {
    height: 215px;
    width: 210px;
    background-color: white;
    box-sizing: border-box;
    clear: right;
    margin: 5px;
    float: right;
}

.video-img {
    height: 118px !important;
    width: 210px !important;
    margin-top: 35px;
}

/* Video */

@media (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }

    .main {
        margin-right: 0;
        margin-bottom: 60px;
    }
}

@media (max-width: 375px) {
    .video-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .video-img {
        width: 100% !important;
        height: 100% !important;
    }

    .main img.thumbnail {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 414px) {
    .video-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .video-img {
        width: 100% !important;
        height: 100% !important;
    }

    .main img.thumbnail {
        width: 35px;
        height: 35px;
    }
}